body {
  margin: 0;
  font-family: GTUltra, Frank Ruhl Libre, "PT Serif", "Noto Serif", "Noto Serif JP", "Noto Serif KR", "Noto Serif SC", "Noto Serif TC", ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  background: #EFEAE5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  -webkit-font-smoothing: antialiased;
}

.app {
  font-family: sans-serif;
  text-align: center;
  background: #EFEAE5;
  color: #333;
  padding: 20px;
}


/* General grid styling */
.grid {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(5, 50px);
  gap: 2px;
  margin: 20px auto;
  background: #e0e0e0;
  width: max-content;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 24px;
  font-weight: bold;
}

/* Highlighting borders based on direction */
.highlight-north {
  border-top: 3px solid #007bff;
}
.highlight-east {
  border-right: 3px solid #007bff;
}
.highlight-south {
  border-bottom: 3px solid #007bff;
}
.highlight-west {
  border-left: 3px solid #007bff;
}

/* Move button stands out */
.move-button {
  margin: 15px;
  padding: 10px 20px;
  border: none;
  background: rgb(61, 61, 61);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: GTUltra, Lato, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Sans SC, Noto Sans TC, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-size: .9285714285714286rem;
  line-height: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .15em;
  -webkit-font-smoothing: antialiased;
}

.move-button:hover {
  background: rgb(105, 105, 105);
}

.rotate-buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background: rgb(225 90 29);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: GTUltra, Lato, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Sans SC, Noto Sans TC, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-size: .9285714285714286rem;
  line-height: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .15em;
  -webkit-font-smoothing: antialiased;
}

.rotate-buttons button:hover {
  background: rgb(184, 74, 23);
}
